@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.title {
  @apply ml-4 hover:cursor-default border-2 rounded-full p-0.5 pr-3 pl-3;
}

.title h1 {
  @apply text-lg tracking-widest;
}

.navbar {
  @apply flex place-content-between font-semibold p-2 m-2;
}

.navlinks {
  @apply mr-4;
}

.navlinks div {
  @apply inline-block ml-4 hover:animate-jump;
}

.navlinks div a {
  @apply p-1 hover:text-blue-400 hover:cursor-pointer transition ease-linear duration-200;
}

.navlinks div svg {
  @apply hover:text-blue-400 hover:cursor-pointer;
}

.order_form {
  @apply justify-self-center p-6 border-1 rounded-2xl;
}

.order_form hr {
  @apply mt-6 mb-6;
}

.form_segment {
  @apply pt-2 pb-2 flex justify-between;
}

.form_segment label {
  @apply mr-20;
}

.form_segment textarea {
  resize: none;
}

.form_submit {
  @apply flex justify-end;
}

.form_submit input {
  @apply border-1 mt-4 p-1 rounded-md pl-2 pr-2 hover:cursor-pointer transition ease-linear duration-100 hover:-translate-y-1 hover:border-blue-400;
}

.name_input {
  @apply border-1 ml-2 p-1 w-80 rounded-sm text-sm;
}

.desc_input {
  @apply border-1 ml-2 p-2 min-h-60 w-80 rounded-sm text-sm;
}

.page {
  @apply m-4 p-4 rounded-t-md animate-fade-up;
}
