@import "tailwindcss";
@import "tailwindcss-animated";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.title {
  @apply ml-4 hover:cursor-default border-2 rounded-full p-0.5 pr-3 pl-3;
}

.title h1 {
  @apply text-lg tracking-widest;
}

.navbar {
  @apply flex place-content-between font-semibold p-2 m-2;
}

.navlinks {
  @apply mr-4;
}

.navlinks div {
  @apply inline-block ml-4 hover:animate-jump;
}

.navlinks div a {
  @apply p-1 hover:text-blue-400 hover:cursor-pointer transition ease-linear duration-200;
}

.navlinks div svg {
  @apply hover:text-blue-400 hover:cursor-pointer;
}

.order_form {
  @apply justify-self-center p-6 border-1 rounded-2xl;
}

.order_form hr {
  @apply mt-6 mb-6;
}

.form_segment {
  @apply pt-2 pb-2 flex justify-between;
}

.form_segment label {
  @apply mr-20;
}

.form_segment textarea {
  resize: none;
}

.form_submit {
  @apply flex justify-end;
}

.form_submit input {
  @apply border-1 mt-4 p-1 rounded-md pl-2 pr-2 hover:cursor-pointer transition ease-linear duration-100 hover:-translate-y-1 hover:border-blue-400;
}

.name_input {
  @apply border-1 ml-2 p-2 w-80 rounded-sm text-sm;
}

.desc_input {
  @apply border-1 ml-2 p-2 min-h-60 w-80 rounded-sm text-sm;
}

.drop {
  @apply bg-black;
}

.table_row {
  @apply flex justify-between;
}

.table_cell {
  @apply border-b-1 border-r-1 p-3 w-60 h-12 hover:cursor-default;
}

.del_icon {
  @apply p-1 hover:text-red-600 hover:cursor-pointer hover:animate-jump transition ease-linear duration-200;
}

.page_title {
  @apply text-4xl pb-6;
}

.filter_switch {
  @apply flex text-lg place-self-end;
}

.filter_switch h3 {
  @apply hover:cursor-default;
}

.filter_switch svg {
  @apply ml-4 scale-125 hover:text-blue-400 hover:cursor-pointer transition ease-linear duration-200 hover:animate-jump;
}

.layout_primary {
  @apply bg-black min-h-screen pt-2;
}

.layout_secondary {
  @apply min-w-3xl place-self-center;
}

.page {
  @apply m-4 p-4 rounded-t-md animate-fade-up;
}

.disabled {
  @apply bg-zinc-600/10 text-gray-400;
}